h1,
p {
  font-family: Lato;
}
a {
  text-decoration: none;
  color: gray;
}
/* Navbar Area */
.buttonUpload {
  display: flex;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
}
.formSearch,
.userSection {
  display: flex;
}
.userSection {
  justify-content: flex-end;
}
.userSection:hover {
  cursor: pointer;
}
.userProfile {
  display: flex;
  width: 40px;
  height: 40px;
}
.menuButton {
  display: none;
}
@media only screen and (max-width: 425px) {
  .buttonUpload,
  .userSection,
  .formSearch {
    display: none;
  }
  .container {
    width: 100%;
    display: flex;
    gap: 6rem;
  }
  .menuButton {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .buttonUpload {
    display: none;
  }
}

/* Breadcrumb Area */
.breadWrapper {
  padding: 5px 12px 7px 12px;
  border-bottom: 1px solid #dee2e6;
}

/* Content Area */
.contentGallery {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 170px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}
.contentBox {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.contentBox:nth-child(6n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}
.contentBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.5s ease;
}
.contentBox:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  opacity: 0.5;
}
.icon {
  width: 40px;
  height: 40px;
}
.sugestBox:hover {
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .contentGallery {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .sugestBox {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .leftCaption {
    text-align: right;
  }
}

/* Activity Content Area */
.activity {
  border-bottom: 1px solid #dee2e6;
}
.activityList:hover {
  border: 1px solid #dee2e6;
  cursor: pointer;
}
.activityHeader {
  border-bottom: 2px solid #dee2e6;
}
.imageContent img {
  width: 150px;
  height: 90px;
}
.bottomIcon {
  bottom: 0;
}
@media only screen and (max-width: 425px) {
  .imageContent img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

/* Channel Area */
.channel {
  border-bottom: 1px solid #dee2e6;
}
.channelHeader {
  border-bottom: 2px solid #dee2e6;
}
.channelList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.channelItem {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.channelItem img {
  width: 180px;
  height: 100px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.channelItem:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
@media only screen and (max-width: 425px) {
  .channelItem img {
    width: 100%;
  }
}

/* Footer Area */
.footer {
  border-top: 2px solid #dee2e6;
}
.footerContent {
  padding-left: 12px;
}
.twitter,
.linkedin,
.facebook {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border: 1px solid #0d6efd;
}
.twitter,
.linkedin,
.facebook span {
  font-size: 25px;
}
.twitter,
.linkedin,
.facebook :hover {
  cursor: pointer;
}
